#!/usr/bin/make -f
# -*- makefile -*-

export SHELL = bash

DESTDIR = $(CURDIR)/debian/tmp
PATH := /usr/lib/freebsd:$(PATH)
PMAKE := DESTDIR="$(DESTDIR)" make

CFLAGS = -Wall -Werror

DEB_HOST_GNU_TYPE	?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
DEB_HOST_ARCH_OS	?= $(shell dpkg-architecture -qDEB_HOST_ARCH_OS)

clean:
	dh_testdir
	$(PMAKE) clean
	rm -f include/machine/__get_elf_arch.h src/get_elf_arch
	dh_clean

src/get_elf_arch: src/get_elf_arch.c
include/machine/__get_elf_arch.h: src/get_elf_arch
	$^ > $@

build: build-arch
build-arch: include/machine/__get_elf_arch.h
	$(PMAKE)

build-indep:
	:

install-arch: build-arch
	dh_testdir
	dh_testroot
	dh_prep -a
	dh_installdirs -a
	mkdir -p $(DESTDIR)/{usr/,}lib
	$(PMAKE) install

	echo "GROUP( libexpat.so )" > \
		$(DESTDIR)/usr/lib/libbsdxml.so
	ln -s $(DEB_HOST_GNU_TYPE)/libexpat.a \
		$(DESTDIR)/usr/lib/libbsdxml.a

	dh_install -a --list-missing

binary: binary-arch binary-indep
binary-arch: install-arch
	dh_testdir
	dh_testroot
	dh_installchangelogs -a
	dh_installdocs -a
#	dh_installexamples
#	dh_installinit
#	dh_installcron
#	dh_installinfo
#	dh_installman
	dh_link -a
	dh_strip -a
	dh_compress -a
	dh_fixperms -a
#	dh_perl
#	dh_python
	dh_makeshlibs -a
ifeq ($(DEB_HOST_ARCH_OS), kfreebsd)
	dh_makeshlibs -plibfreebsd-glue-0 --add-udeb=libfreebsd-glue-0-udeb
endif
	dh_installdeb -a
	dh_shlibdeps -a
	dh_gencontrol -a
	dh_md5sums -a
	dh_builddeb -a

binary-indep:
	:
